<h3>What do you think the password is?</h3>
<form action='/guess' method='post' id='guesser'>
  <input type='password' name='password' id='pwd'>
  <button type='submit'>
    Guess!
  </button>
</form>

<p>
Last guess was at <span class='time'></span>
</p>

<h3>Autocomplete</h3>
<input type='text' id='autocomplete' placeholder='Start typing a word'>

<ul class='suggestions'>
</ul>

<script src="/jquery-2.0.3.min.js"></script>
<script>
  $(document).ready(function(){
    $('#guesser').on('submit', function(event){
      event.preventDefault();

      $.post('/guess', $(this).serialize(), function(response) {
        alert(response.message);
        $(".time").text(response.time)
      });
      // alert('Hello');
    })

    $('#autocomplete').on('keyup', function(){
      $.get('/autocomplete', { text: $(this).val() }, function(suggestions) {

        $('.suggestions li').remove();

        suggestions.forEach(function(suggestion) {
          var dropdownItem = '<li>' + suggestion + '</li>'

          $('.suggestions').append(dropdownItem);
        })

      })
    })
  })
</script>