<html>
  <head>
    <title>Guess the password</title>
    <style>
      body {
        margin: 40px;
      }

      input, h3, button {
        font-family: Helvetica Neue;
        font-size: 20px;
      }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>